/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/*========================================================================
                           GERAL
==========================================================================*/
html {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: calc(10px + 1vw);
   color: #2d2d29;
   
}
a {
   color: #2d2d29;
   text-decoration: none;
}
main {
	margin: 0 10vw 0 10vw;
}

/*=======================================================================
                           INTRODUÇÃO
==========================================================================*/

section.introducao h1{
	text-align: center;
	margin: 2vw;
}
section.introducao ul {
	display: flex;
	background: #3ca2a2;
    border-radius: 15px;
    padding: 2vw;
}

section.introducao ul li {
	background: white;
	margin: 2vw 1vw 2vw 0;
	padding: 2vw;
	border-radius: 15px;
}
section.direction nav button{
	margin: 5vw 0 0 0;
	font-size: 1rem;
	width: 10rem;
	height: 3rem;
	background: #92c7a3;
	border-style: solid;
	border: #3CA2A2;
	border-radius: 15px;
}
section.direction nav ul {
	display: flex;
	justify-content: right;
}
section.direction nav ul li {
	border-radius: 10px;
	margin: 5vw 2vw 0 2vw;
	background: #215A6D ;
	padding: 2px 10px 5px 10px;
}
section.direction nav ul li a{
	color: white;
	font-size: 15px;
}
/*=======================================================================
                           FOOTER
==========================================================================*/
footer {
	display: flex;
	margin: 5vw 0 0 0;
	padding: 0 10vw 0 10vw; ;
	background: #DFECE6;
}
footer p {
	font-size: 15px;
	margin: 3vw 0 0 5vw;
}
