/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================================================================
                           GERAL
==========================================================================*/
html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: calc(10px + 1vw);
	color: white;
	background: #323232;
}

a {
	color: black;
	text-decoration: none;
}

a.atual {
	color: white;
	font-weight: bold;
}

section {
	padding: 0 10vw 0 10vw;
}
.hidden-rl{
	opacity: 0;
	filter: blur(10px);
	transform: translateX(100%);
	transition: all 1s;
}
.show-rl{
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 1s;
}
.hidden-lr{
	opacity: 0;
	filter: blur(10px);
	transform: translateX(-100%);
	transition: all 1s;
}
.show-lr{
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 1s;
}
.hidden-header{
	opacity: 0;
	filter: blur(15px);
	transform: translateX(-100%);
	transition: all 0.3s;
}
.show-header{
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	transition: all 0.3s;
}
i{
	position: relative;
  	display: inline-block;
}
i .tooltip{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	visibility: hidden;
  	color: #fff;
  	text-align: center;
  	padding: 5px 5px;
  	border-radius: 6px;
  	position: absolute;
  	border: 1px solid black;
	transition: all 0.3s;
	filter: blur(10px);
	bottom: 100%;
	left: 50%;
	margin-left: -50px;
}
i:hover .tooltip{
	visibility: visible;
	filter: blur(0);
}
i .tooltip::after{
	content: " ";
  	position: absolute;
  	top: 100%; /* At the bottom of the tooltip */
  	left: 50%;
  	margin-left: -5px;
  	border-width: 5px;
  	border-style: solid;
  	border-color: black transparent transparent transparent;
}
/*=======================================================================
                           INTRODUÇÃO
==========================================================================*/
header{
	background: #00ffba;
	text-align: center;
}
header h1 a img.logo {
	border-bottom: none;
	width: 6rem;
	animation: logo-animation 1s;
	margin: 2vw 0 4vw 0;
}
header ul.hidden-header	:nth-child(1){
	transition-delay: 0.2s;
}
header ul.hidden-header	:nth-child(2){
	transition-delay: 0.4s;
}
header ul.hidden-header	:nth-child(3){
	transition-delay: 0.6s;
}
header ul.hidden-header	:nth-child(4){
	transition-delay: 0.8s;
}
header ul.hidden-header	:nth-child(5){
	transition-delay: 1s;
}
header ul.hidden-header	:nth-child(6){
	transition-delay: 1.2s;
}
@keyframes logo-animation {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
		width: 7rem;
	}

	100% {
		transform: rotate(360deg);
		width: 6rem;
	}
}
header img.banner {
	width: 100%;
	height: 100%;
	border-bottom: solid 2px white;
}



header nav ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #00ffba;
}

header nav ul li {
	margin: 3vw 0 3vw 0;
	text-align: center;
}
header nav ul li a.atual{
	color: white;
}
header nav ul li a i{
	font-size: 25px;
	transition: 0.3s;
}
header nav ul li a i:hover{
	font-size: 30px;
	color: white;
}
header nav ul li p {
	color: black;
	font-size: 15px;
}
section.introducao h1 {
	font-weight: bold;
	text-align: center;
	margin: 5vw;
	font-size: 1.8rem;
}

section.introducao ul {
	display: flex;
	justify-content: space-between;
	background: url(../img/geral/fundo-avisos.png);
	background-size: 100%;
	border-radius: 50px;
	padding: 2vw;
	box-shadow: 5px 5px 10px black;
}
section.introducao ul :nth-child(2){
	transition-delay: 200ms;
}
section.introducao ul li {
	color: black;
	background: white;
	margin: 2vw 1vw 2vw 4vw;
	padding: 2vw;
	border-radius: 50px;
	transition: 0.3s;
}
section.introducao ul li:hover{
	box-shadow: 5px 5px 10px black;
}
/*=======================================================================
                           VIDEO
==========================================================================*/
section.video {
	text-align: center;
}

section.video h2 {
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	margin: 5vw;
	border-top: solid 1px;
	padding: 5vw 0 0 0;

}

section.video p {
	font-size: 25px;
	text-align: justify;
	margin: 0 0 5vw 0;
	color: black;
	background: #00ffba;
	border-radius: 50px;
	padding: 2vw;
	transition: 0.5s;
	border: solid 1px #00ffba;
}
section.video p:hover{
	box-shadow: 10px 10px 10px black;
	border: solid 1px white;
}
section.video iframe {
	border-radius: 20px;
	border: solid #00ffba 5px;
}

section.videofood {
	text-align: center;
	border-top: solid 1px;
	margin: 0 10vw 0 10vw;
	padding: 4vw 0 0 0;
}

section.videofood h2 {
	font-size: 2rem;
	font-weight: bold;
	color: #00ffba;
	margin: 0 0 4vw 0;
}

section.videofood iframe {
	border-radius: 20px;
	border: solid #00ffba 5px;
}
/*=======================================================================
                           CRIAR-TREINO-OBJETIVOS
==========================================================================*/
section.invite-ct h2 {
	text-align: center;
	font-weight: bold;
	color: #00ffba;
	margin: 0 0 2vw 0;
}

section.invite-ct div.nosso {
	display: flex;
	margin: 0 0 3vw 0;
}

section.invite-ct div p {
	margin: 2vw 3vw 2vw 0;
}

section.invite-ct div.aviso {
	background: #00ffba;
	border-radius: 15px;
	color: black;
	padding: 2vw;
	text-align: center;
	margin: 4vw 0 4vw 0;
	transition: 0.5s;
}
section.invite-ct div.aviso:hover {
	box-shadow: 10px 10px 10px black;
	border: solid 1px white;
}

section.invite-ct div.aviso h1 {
	text-align: center;
	font-weight: bold;
	margin: 2vw;
}

/*=======================================================================
                           CRIA-TREINO-CRIAÇÃO
==========================================================================*/
form.roteiro {
	margin: 0 3vw 0 3vw;
	border-radius: 15px;
	background: rgb(87, 87, 87);
	padding: 2vw 4vw 2vw 4vw;
	transition: 0.5s;
	border: rgb(87, 87, 87) solid 1px;
}
form.roteiro:hover{
	box-shadow: 10px 10px 10px black;
	border: solid white 1px;
}
form.roteiro h2 {
	color: #00ffba;
	text-align: center;
	font-weight: bold;
}

form.roteiro div {
	margin: 2vw 3vw 2vw 5vw;
}

form.roteiro select {
	font-size: 20px;
	border: none;
	background: #00ffba;
	border-radius: 5px;
	transition: 0.5s;
	border: 1px solid #00ffba;
}

form.roteiro select:hover {
	background-color: rgb(87, 87, 87);
	color: #00ffba;
}

form.roteiro button {
	font-size: 20px;
	border: none;
	background: #00ffba;
	border-radius: 5px;
	transition: 0.5s;
	border: 1px solid #00ffba;
}

form.roteiro button:hover {
	background-color: rgb(87, 87, 87);
	color: #00ffba;
}
form.roteiro button:active{
	background-color: white;
}
/*=======================================================================
                           CRIA-TREINO-TREINO
==========================================================================*/
section.area-treino div h2 {
	margin: 2vw 0 2vw 0;
	font-weight: bold;
	text-align: center;
	color: #00ffba;
}

section.area-treino div h2 span {
	margin: 2vw 0 2vw 0;
	font-weight: bold;
	font-size: 1.8rem;
	text-align: center;
	color: #00ffba;
}
section.area-treino div.aquecimento ol li {
	margin: 2vw 0 2vw 0;
}

section.area-treino div.aquecimento ol li p span {
	color: #00ffba;
}

section.area-treino div.treino p {
	text-align: center;
	margin: 3.5vw 0 1.5vw 0;
	font-weight: bold;
}

section.area-treino div.treino ol {
	display: flex;
	justify-content: center;
}

section.area-treino div.treino ol li {
	border: solid white 1px;
	border-radius: 10px;
	padding: 2vw;
	margin: 2vw 4vw 2vw 4vw;
	width: 30vw;
	transition: 0.5s;
}
section.area-treino div.treino ol li:hover{
	box-shadow: 10px 10px 10px black;
}
section.area-treino div.treino ol li h3 {
	color: #00ffba;
	font-weight: bold;
}

section.area-treino div.treino ol li p {
	margin: 2vw 0 2vw 0;
	font-weight: normal;
	text-align: left;

}

/*=======================================================================
                           SOBRE-EXERCICIOS
==========================================================================*/
section.geral-exercicios {
	margin: 4vw 3vw 4vw 3vw;
}

section.geral-exercicios p {
	margin: 1vw 0 1vw 0;
	color: black;
	text-align: justify;
	background-color: #00ffba;
	border: #00ffba;
	border-radius: 20px;
	padding: 30px;
	transition: 0.3s;
	border: 1px solid #00ffba;
}
section.geral-exercicios p:hover{
	box-shadow: 10px 10px 10px black;
	border: 1px solid white;
}
section.informativo {
	margin: 4vw 0 0 0;
}

section.informativo ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0 50px 0;
	border-bottom: 1px solid gray;
	padding: 0 0 3vw 0;
}

section.informativo ul li.no-border {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0 50px 0;
	border-bottom: none;
	padding: 0 0 3vw 0;
}

section.informativo ul li div {
	margin: 0 4vw 0 0;
}

section.informativo ul li div img {
	width: 500px;
	height: 330px;
	border: solid;
	border-radius: 50px;
	border-color: #00ffba;

}

section.informativo ul li h2 {
	color: #00ffba;
	font-weight: bold;
	text-align: center;
	margin: 1vw 0 2vw 0;
}

/*=======================================================================
                           ALIMENTAÇÃO-CONCEITOS-DIETA
==========================================================================*/
section.conceitos-dieta {
	margin: 4vw 3vw 4vw 3vw;
	border-bottom: solid 2px white;
}

section.conceitos-dieta h1 {
	margin: 4vw 0 4vw 0;
	color: #00ffba;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
}

section.conceitos-dieta p {
	margin: 2vw 0 2vw 0;
}

section.conceitos-dieta ul {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}
section.conceitos-dieta ul :nth-child(2){
	transition-delay: 200ms;
}
section.conceitos-dieta ul :nth-child(3){
	transition-delay: 400ms;
}
section.conceitos-dieta ul li {
	border: solid #00ffba;
	border-radius: 10px;
	margin: 2vw 1vw 2vw 1vw;
	padding: 2vw;
	transition: 0.5s;
}
section.conceitos-dieta ul li:hover{
	box-shadow: 10px 10px 10px black;
}
section.conceitos-dieta ul li h2 {
	font-size: 1rem;
	color: #00ffba;
	font-weight: bold;
}

section.conceitos-dieta ul li img {
	width: 20vw;
	height: 13vw;
	margin: 2vw 0 0 0;
	border-radius: 10px;
	border: solid #00ffba;
}

/*=======================================================================
                           ALIMENTAÇÃO-DICAS-DIETA
==========================================================================*/
section.dicas-dieta h1 {
	color: #00ffba;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
}

section.dicas-dieta p {
	margin: 2vw 0 2vw 0;
}

section.dicas-dieta h2 {
	font-size: 1rem;
	color: #00ffba;
	font-weight: bold;
}

/*=======================================================================
                           DICAS-INTRODUCTION
==========================================================================*/
section.introduction {
	margin: 4vw 3vw 4vw 3vw;
}

section.introduction h1 {
	margin: 4vw 0 4vw 0;
	color: #00ffba;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

section.introduction p {
	margin: 2vw 0 2vw 0;
}

/*=======================================================================
                           DICAS-DUVIDAS
==========================================================================*/
section.duvidas {
	margin: 0 3vw 0 3vw;
}

section.duvidas h2 {
	color: #00ffba;
	font-weight: bold;
	font-size: 1.5rem;
}

section.duvidas p {
	margin: 2vw 0 2vw 0;
}

section.duvidas img {
	border: solid #00ffba;
	border-radius: 10px;
	width: 30vw;
	margin: 2vw 0 2vw 0;
}

section.duvidas p span {
	color: #00ffba;
	font-weight: bold;
}

section.duvidas ul {
	display: flex;
	justify-content: space-between;
}

section.duvidas ul li {
	margin: 0 2vw 3vw 0;
	padding: 3vw;
	border: solid #00ffba;
	border-radius: 10px;
	transition: 0.5s;
}
section.duvidas ul li:hover{
	box-shadow: 10px 10px 10px black;
}

section.duvidas ul li h3 {
	text-align: center;
	color: #00ffba;
	font-weight: bold;
	font-size: 1.3rem;
}

section.duvidas>div {
	display: flex;
	justify-content: center;
}

section.duvidas div {
	margin: 0 4vw 0 1.5vw;
}

/*=======================================================================
                           REFERENCIAS
==========================================================================*/
section.referencias {
	margin: 2vw 0 2vw 0;
}

section.referencias div.texto {
	border: #00ffba solid;
	border-radius: 25px;
	padding: 4vw;
	flex-wrap: wrap;
	transition: 0.5s;
}
section.referencias div.texto:hover{
	box-shadow: 10px 10px 10px black;
}
section.referencias h1 {
	font-size: 2rem;
	font-weight: bold;
	color: white;
	text-align: center;
	margin: 2vw 0 2vw 0;
}

section.referencias p {
	margin: 2vw 0 2vw 0;
}

section.referencias p a {
	color: white;
}

/*=======================================================================
                           SOBRE-NÓS
==========================================================================*/
section.sobre {
	margin: 4vw 0 0 0;
}

section.sobre p {
	margin: 2vw 0 2vw 0;
}

section.equipe h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #00ffba;
	margin: 4vw 0 2vw 0;
}

section.equipe div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

section.equipe div img {
	width: 40%;
	border: 1px solid white;
	border-radius: 10px;
}

/*=======================================================================
                           FOOTER
==========================================================================*/
footer {
	color: white;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin: 5vw 0 0 0;
	padding: 0 10vw 0 10vw;
	;
	background: #323232;
	border-top: solid 2px white;
	height: 15vw
}

footer {
	height: 10vw;
}

footer i.fa-dumbbell {
	margin: 8vw 0 0 0;
	animation: alter-inicio 2s infinite;
}

@keyframes alter-inicio {
	0% {
		margin: 8vw 0 0 0;
	}

	50% {
		margin: 0;
		font-size: 1rem;
		transform: rotate(360deg);
	}

	100% {
		margin: 8vw 0 0 0;
	}
}

footer p {
	font-size: 15px;
	margin: 3vw 5vw 3vw 5vw;
}

footer p a {
	margin: 0 1vw 0 1vw;
	font-size: 40px;
	color: white;
}

/*=======================================================================
                           responsivel
==========================================================================*/
@media screen and (max-width: 1000px) {
	header nav.menu ul li a i{
		font-size: 15px;
	}
	.flex2 {
		flex-direction: column;
	}

	.no-border {
		flex-direction: column-reverse;
	}

	.flex {
		flex-direction: column-reverse;
	}
	section.introducao ul{
		width: 100%;
		flex-wrap: wrap;
		border-radius: 10px;
	}
	section.introducao ul li{
		border-radius: 10px;
	}
	section.informativo ul li div img {
		margin: 0vw 0vw 0vw 5vw;
		width: 80vw;
		height: 50vw;
	}

	section.video iframe {
		width: 70vw;
		height: 40vw;
	}

	section.videofood iframe {
		width: 70vw;
		height: 40vw;
	}

	section.dicas-dieta p {
		margin: 2vw 0 10vw 0;
	}

	section.dicas-dieta h2 {
		font-size: 1rem;
		color: #00ffba;
		font-weight: bold;
	}

	/*=======================================================================
                          			footer
==========================================================================*/
	footer {
		height: 35vw
	}

	footer p {
		display: flex;
	}

	section.duvidas img {
		margin: 0vw 0vw 0vw 2vw;
		width: 90%;
	}

	section.duvidas p {
		margin: 2vw 0 5vw 0;
	}

	section.referencias div.texto {
		font-size: 11px;
		border: #00ffba solid;
		border-radius: 25px;
		padding: 4vw;
	}

	section.invite-ct div.nosso {
		flex-direction: column;
		text-align: center;
	}

	section.geral-exercicios p {
		text-align: center;
	}

	section.informativo {
		margin: 4vw 0 0 0;
	}

	section.informativo ul li p {
		text-align: center;
		margin: 0vw 0vw 0vw 5vw;
	}

	section.informativo ul li.no-border {
		align-items: center;
	}

	section.informativo ul li h2 {
		text-align: center;
		margin: 1vw 0 2vw 5vw;
	}

	section.introduction p {
		margin: 2vw 0 2vw 0;
		text-align: center;
	}

	section.duvidas h2 {
		text-align: center;
	}

	section.duvidas p {
		margin: 3vw 0 6vw 0;
		text-align: justify;
	}

	section.duvidas p.centerp {
		text-align: center;
	}

	section.duvidas p span {
		color: #00ffba;
		font-weight: bold;
	}

	section.duvidas ul {
		display: flex;
		justify-content: space-between;
	}

	section.duvidas ul li {
		margin: 0 2vw 3vw 0;
		padding: 3vw;
		border: solid #00ffba;
		border-radius: 10px;
	}

	section.conceitos-dieta p {
		margin: 2vw 0 2vw 0;
		text-align: center;
		/*=======================================================================
                          		 sobre nós
==========================================================================*/
	}

	section.sobre {
		margin: 4vw 0 0 0;
	}

	section.sobre p {
		margin: 2vw 0 2vw 0;
		font-size: 1.5rem;
		text-align: center;

	}

	section.equipe p.Nossaequipe {
		text-align: center;
		font-size: 1.7rem;
	}

	section.equipe h2 {
		font-size: 2rem;
		font-weight: bold;
		color: #00ffba;
		margin: 4vw 0 2vw 0;
		text-align: center;

		/*==================================================================
                          	TREINO
==========================================================================*/
	}

	section.area-treino div p {
		font-size: 1.3rem;
	}

	section.area-treino div h2 span {
		margin: 3vw 0 3vw 0;
		font-weight: bold;
		font-size: 1.8rem;
		text-align: center;
		color: #00ffba;
	}

	section.area-treino div.aquecimento ol li {
		margin: 3vw 0 3vw 0;
		border: solid white 1px;
		border-radius: 10px;
		padding: 2vw;
	}

	section.area-treino div.aquecimento ol li p span {
		color: #00ffba;
		font-size: 1.5rem;
	}

	section.area-treino div.treino {
		text-align: center;
	}

	section.area-treino div.treino p {
		text-align: center;
		margin: 3.5vw 0 1.5vw 0;
		font-weight: bold;
		font-size: 1.2rem;
	}

	section.area-treino div.treino ol {
		flex-direction: column;

	}

	section.area-treino div.treino ol.inverter {
		flex-direction: column;
	}

	section.area-treino div.treino ol li {
		border: solid white 1px;
		border-radius: 10px;
		padding: 2vw;
		margin: 2vw 4vw 2vw 4vw;
		width: 86%;
	}

	section.area-treino div.treino ol li h3 {
		color: #00ffba;
		font-weight: bold;
		font-size: 1.5rem;
	}

	section.area-treino div.treino ol li p {
		margin: 2vw 0 2vw 0;
		font-weight: normal;
		text-align: left;

	}

	form.roteiro {
		margin: 0 3vw 0 3vw;
		border-radius: 15px;
		background: rgb(87, 87, 87);
		padding: 2vw 4vw 2vw 4vw;
		align-content: center;
	}

	form.roteiro h2 {
		color: #00ffba;
		text-align: center;
		font-weight: bold;
		font-size: 25px;
	}

	form.roteiro div {
		margin: 2vw 5vw 2vw 5vw;
		text-align: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	form.roteiro select {
		font-size: 18px;
		border: none;
		background: #00ffba;
		border-radius: 10px;
		margin: 8px;
		padding: 10px;
		text-align: center;
		font-size: larger;
	}

	form.roteiro select:hover {
		background-color: white;
		font-size: 17px;
	}

	form.roteiro button {
		font-size: 20px;
		border: none;
		background: #00ffba;
		border-radius: 10px;
		padding: 10px;
	}

	form.roteiro button:hover {
		background-color: white;
		font-size: 17px;
	}

	form.roteiro div label {
		font-size: 20px;
		margin: 5px;
	}

	section.video p {
		font-size: 18px;
		text-align: center;
		margin: 0 0 5vw 0;
		color: black;
		background: #00ffba;
		border-radius: 15px;
		padding: 5vw;
	}

	section.equipe div {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	section.equipe div img {
		width: 60%;
		border: 1px solid white;
		border-radius: 10px;
		margin: 5vw;
	}section.conceitos-dieta ul li img {
		width: 20vw;
		height: 13vw;
		margin: 2vw 0 0 0;
		border-radius: 10px;
		border: solid #00ffba;
	}section.conceitos-dieta ul li img {
		width: 60vw;
		height: 40vw;
	}
}